<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>News</title>
        <link rel="stylesheet" href="/css/news.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div id="wrap">
            <div class="wrap__header">
                <a href="/student" class="header__link-back">
                    <i class="fa-solid fa-rotate-left header__link-back--icon"></i>
                    Quay lại
                </a>
            </div>
            <div class="wrap__main">
                <div class="wrap__background">
                    <div class="wrap__item">
                        <div class="bm__story-main">
                            <header class="bm__story-header">
                                <span class="bm__story-header--line">Our blog</span>
                                <span class="bm__story-header--title">Stories & Idea</span>
                                <span class="bm__story-header--footer">The latest news to drive business strategy</span>
                            </header>
                            <main class="bm__story-content">
                                <div class="bm__story-content--wrap">
                                    <img
                                        class="bm__story-content--img"
                                        src="/image/pexels-taryn-elliott-9716828.jpg"
                                        alt=""
                                    />
                                    <div class="bm__story-content--wrap-2">
                                        <div class="bm__story-content--line">
                                            <span class="bm__story-content--sale">Sales Ops</span>
                                            <span class="bm__story-content--text">8 min to read</span>
                                        </div>
                                        <div class="bm__story-content--title">
                                            The 3 Best Practices in Sales Prospecting
                                        </div>
                                        <div class="bm__story-content--footer">
                                            <div class="bm__story-content--icon"></div>
                                            <div class="bm__story-content--text">
                                                <span class="bm__story-content--text1">Mehdi Lerille</span>
                                                <span class="bm__story-content--text2">20 apr 2022</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </main>
                        </div>
                        <main class="bm__story-content-right">
                            <div class="bm__story-content--wrap-right">
                                <img
                                    class="bm__story-content--img-right"
                                    src="/image/pexels-shay-wood-1480602.jpg"
                                    alt=""
                                />
                                <div class="bm__story-content--wrap-2-right">
                                    <div class="bm__story-content--line-right">
                                        <span class="bm__story-content--sale-right">Sales Ops</span>
                                        <span class="bm__story-content--text-right">8 min to read</span>
                                    </div>
                                    <div class="bm__story-content--title-right">
                                        The 3 Best Practices in Sales Prospecting
                                    </div>
                                    <div class="bm__story-content--footer-right">
                                        <div class="bm__story-content--icon-right"></div>
                                        <div class="bm__story-content--text-right">
                                            <span class="bm__story-content--text1">Mehdi Lerille</span>
                                            <span class="bm__story-content--text2">20 apr 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bm__story-content--wrap-right">
                                <img
                                    class="bm__story-content--img-right"
                                    src="/image/pexels-dominika-roseclay-2433511.jpg"
                                    alt=""
                                />
                                <div class="bm__story-content--wrap-2-right">
                                    <div class="bm__story-content--line-right">
                                        <span class="bm__story-content--sale-right">Sales Ops</span>
                                        <span class="bm__story-content--text-right">8 min to read</span>
                                    </div>
                                    <div class="bm__story-content--title-right">
                                        The 3 Best Practices in Sales Prospecting
                                    </div>
                                    <div class="bm__story-content--footer-right">
                                        <div class="bm__story-content--icon-right"></div>
                                        <div class="bm__story-content--text-right">
                                            <span class="bm__story-content--text1">Mehdi Lerille</span>
                                            <span class="bm__story-content--text2">20 apr 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bm__story-content--wrap-right">
                                <img
                                    class="bm__story-content--img-right"
                                    src="/image/pexels-irina-iriser-1435567.jpg"
                                    alt=""
                                />
                                <div class="bm__story-content--wrap-2-right">
                                    <div class="bm__story-content--line-right">
                                        <span class="bm__story-content--sale-right">Sales Ops</span>
                                        <span class="bm__story-content--text-right">8 min to read</span>
                                    </div>
                                    <div class="bm__story-content--title-right">
                                        The 3 Best Practices in Sales Prospecting
                                    </div>
                                    <div class="bm__story-content--footer-right">
                                        <div class="bm__story-content--icon-right"></div>
                                        <div class="bm__story-content--text-right">
                                            <span class="bm__story-content--text1">Mehdi Lerille</span>
                                            <span class="bm__story-content--text2">20 apr 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>

                <div class="wrap__item wrap__item-des">
                    <div class="item__header">
                        <img src="\image\pexels-pixabay-2152.jpg" alt="" class="item__header-img" />
                        <div class="item__header-text">School Story, News & Tip for Students</div>
                    </div>
                    <div class="item__main">
                        <span class="item__main-text"
                            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nulla sequi deleniti velit
                            odit id fuga voluptate laboriosam officiis voluptas possimus aliquam eligendi, minus enim.
                            Aliquid, vel ratione nulla nemo nihil minima similique libero nesciunt culpa, fugiat
                            officiis nisi atque exercitationem reiciendis explicabo distinctio possimus!</span
                        >
                    </div>
                    <div class="item__footer">
                        <button class="item__button">VIEW</button>
                    </div>
                </div>
                <div class="wrap__item wrap__item-des">
                    <div class="item__header">
                        <img src="\image\pexels-irina-iriser-1435567.jpg" alt="" class="item__header-img" />
                        <div class="item__header-text">School Story, News & Tip for Students</div>
                    </div>
                    <div class="item__main">
                        <span class="item__main-text"
                            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nulla sequi deleniti velit
                            odit id fuga voluptate laboriosam officiis voluptas possimus aliquam eligendi, minus enim.
                            Aliquid, vel ratione nulla nemo nihil minima similique libero nesciunt culpa, fugiat
                            officiis nisi atque exercitationem reiciendis explicabo distinctio possimus!</span
                        >
                    </div>
                    <div class="item__footer">
                        <button class="item__button">VIEW</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
