<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/login.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="form__wrap">
            <form class="form form-login" action="/update__acc" method="POST" id="register-form">
                <span class="signup">Đổi mật khẩu</span>
                <input
                    oninput="clearErrorMessage()"
                    type="email"
                    placeholder="Nhập địa chỉ email"
                    class="form--input"
                    required
                    name="email"
                    id="email"
                />
                <div class="wrap__noty-warning">
                    <span id="error-message" class="noty__warning"><%=err%></span>
                </div>
                <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Nhập mật khẩu cũ"
                    class="form--input input-password"
                    required
                />
                <div class="wrap__noty-warning">
                    <span id="error-message" class="noty__warning"><%=errpass%></span>
                </div>
                <input
                    id="password-new"
                    type="password"
                    name="password_new"
                    placeholder="Nhập mật khẩu mới"
                    class="form--input input-password form--password"
                    required
                />
                <input
                    id="password-confirm"
                    name="password_confirm"
                    type="password"
                    placeholder="Xác nhận mật khẩu"
                    class="form--input form--password-confirm input-password"
                    required
                />
                <div class="wrap__noty-warning">
                    <span id="error-message" class="noty__warning"><%=errconfirm%></span>
                </div>
                <div class="icon__item">
                    Hiển thị nội dung mật khẩu
                    <i class="fa-solid fa-eye icon__item-eye"></i>
                </div>
                <button class="form--submit" type="submit">Submit</button>
            </form>
        </div>
        <script>
            // Lưu trữ dữ liệu trong localStorage khi form được submit
            document.getElementById('register-form').addEventListener('submit', function (event) {
                event.preventDefault();
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                // Lưu trữ thông tin vào localStorage
                localStorage.setItem('register-form-data', JSON.stringify({ name, email, password }));

                // Submit form để chuyển đến trang kế tiếp
                this.submit();
            });

            // Khôi phục dữ liệu trong localStorage khi load lại trang
            window.addEventListener('load', function () {
                const formData = localStorage.getItem('register-form-data');
                if (formData) {
                    const { name, email, password } = JSON.parse(formData);
                    document.getElementById('email').value = email;
                    // document.getElementById('password').value = password;

                    // Xóa dữ liệu trong localStorage
                    localStorage.removeItem('register-form-data');
                }
            });
            let password_change = document.querySelectorAll('.input-password');
            document.addEventListener('DOMContentLoaded', function (e) {
                let text__noty = document.querySelector('.noty__warning');
                if (text__noty.textContent !== '') {
                    text__noty.classList.remove('.hidden__display');

                    text__noty.classList.add('.active__warning');
                    e.preventDefault();
                } else {
                    text__noty.classList.add('.hidden__display');
                }
                function clearErrorMessage() {
                    text__noty.classList.add('.hidden__display');
                }
                let icon__item = document.querySelector('.icon__item');
                icon__item.onclick = function () {
                    for (let i = 0; i < password_change.length; i++) {
                        password_change[i].type = 'text';
                    }
                };
                let form__login = document.querySelector('.form-login');
                // form__login.onclick = function () {
                //     password_change.type = 'password';
                // };
                for (let i = 0; i < password_change.length; i++) {
                    password_change[i].addEventListener('blur', function () {
                        password_change[i].type = 'password';
                    });
                }
                icon__item.onmouseup = function () {
                    password_change.type = 'password';
                };
            });
            let wrap__noty_warning = document.querySelectorAll('.noty__warning');
            let hidden__warning = document.querySelectorAll('.form--input');
            console.log(hidden__warning);
            for (let i = 0; i < hidden__warning.length; i++) {
                hidden__warning[i].onclick = function () {
                    wrap__noty_warning[i].classList.add('hidden__warning');
                };
            }
        </script>
        <script src="/js/changepass.js"></script>
    </body>
</html>
