.header__link-back--icon {
    font-size: 20px;
    color: rgb(15, 142, 161);
}

.content__item-text {
    font-size: 20px;
    color: rgb(78, 177, 192);
}

.content__item-text--btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}

.content__item-text--btn:hover {
    color: rgb(5, 183, 211);
    scale: 1.1;
}
