@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inconsolata:wght@200;300;400;500;600;700&family=Oswald:wght@300;400&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inconsolata:wght@200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,600;1,700&family=Oswald:wght@300;400&family=Pacifico&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root {
    --text: white;
    --primary: #ecf2ff;
    --blue-new: #0f6292;
    --blue-new: #05bfdb;
}

html {
    font-family: 'Oswald', sans-serif !important;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}

#wrap {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    transition: 0.4s;
    display: none;
}

.wrap__img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    display: none;
}

/* Navigation */

.nav__page-student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 180px;
}

/* Logo */

.logo {
    margin-right: 16px;
}

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #469cce;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
    }
}

@keyframes wobble2 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
    }
}

.nav__page-student-left {
    display: flex;
}

.nav__page-text {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--blue-new);
    text-align: center;
    line-height: 26px;
}

.nav__page-student-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nav__page-text:hover {
    color: #04466c;
} */

[class^='nav__page-']:hover,
[class*=' nav__page-']:hover {
    color: #04466c;
}

.nav__page-text:hover .nav__page-icon {
    color: #04466c;
}
/* Wrap main content */

.wrap__page-student {
    display: flex;
    justify-content: space-between;
}

/* Left */
.wrap__page-student--left {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__page-student--left {
    display: flex;
    flex-direction: row;
}

.content__img {
    width: 180px;
    height: 120px;
    background-size: contain;
}

.content__left {
}

.content__item {
    width: 180px;
    height: 120px;
    /* background-color: rgba(161, 161, 161, 0.6); */
    backdrop-filter: blur(50px);
    margin: 24px 24px 24px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
}

.content__item:hover {
    /* background-color: rgb(245, 222, 179, 0.6); */
    background-color: #469cce;
}

.content__item:hover .content__icon {
    background-color: var(--primary);
}

.content__item:hover .content__item-text {
    color: #082d42;
}
.content__item:hover .content__item-text--btn {
    background-color: rgb(38, 155, 239);
}

.content__left .content__item:nth-child(1) {
    border-radius: 4px 0 0 0;
}
.content__left .content__item:nth-child(2) {
    border-radius: 0 0 0 4px;
}
.content__right .content__item:nth-child(1) {
    border-radius: 0 4px 0 0;
}
.content__right .content__item:nth-child(2) {
    border-radius: 0 0 4px 0;
}

.content__item-main {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--text);
}

.content__item-main--right {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 400px;
    color: var(--text);
    /* background-color: rgb(20, 130, 115); */
    backdrop-filter: blur(40px);
    justify-content: center;
    animation: 2s move__right forwards;
}

.content__icon {
    padding: 8px;
    border-radius: 50%;
    border: 1px solid wheat;
    width: 72px;
    height: 72px;
    background-size: contain;
}

.content__item-icon img:nth-child(2) {
    scale: 3.6;
}

.content__item-text {
    color: var(--blue-new);
}

.content__item-text--btn {
    border: none;
    background: none;
    margin-top: 8px;
    padding: 4px 4px;
    font-size: 1rem;
    cursor: pointer;
    backdrop-filter: blur(50px);
    border-radius: 4px;
}

.content__right {
}

/* Right */

.wrap__page-student--right {
    width: 600px;
    display: flex;
    flex-direction: column;
    float: right;
}

.content__page-student--right {
    position: relative;
    display: flex;
    justify-content: center;
    width: 600px;
}

.content__item-img {
    overflow: hidden;
    position: absolute;
    width: 600px;
    height: 400px;
    /* border: 1px solid black; */
    display: none;
}

.content__item-img--left {
    width: 240px;
    height: 100%;
    z-index: 1;
}

.content__left-img {
    width: 240px;
    height: 100%;
    background-size: contain;
    object-fit: cover;
    z-index: 2;
}

.header__text {
    z-index: 1;
    color: #05bfdb;
    margin: 0 0 12px 56px;
    font-size: 1.3rem;
}

.content__des {
    width: 240px;
    z-index: 1;
    margin: 8px 0 8px 56px;
}

.header__content-des--ul {
    margin: 0 0 0 56px;
    color: #469cce;
}

.header__content-des--ul:nth-child(1) {
    margin-top: 12px;
}

.content__des-ul {
    margin: 12px 0 4px 56px;
    list-style: none;
}
.content__des-ul--4 {
    margin: 0 0 4px 56px;
    list-style: none;
}

.content__item--img {
    width: 600px;
    height: 400px;
    background-size: cover;
    display: none;
}

.content__item-main {
    display: flex;
    flex-direction: column;
}

.content__item-text {
}

/* Navigation right */

.nav__number {
    margin: 24px 0 0 222px;
    position: absolute;
    top: 400px;
}

.bm-number {
    justify-content: center;
    font-size: 2rem;
    height: 24px;
    width: 24px;
    color: whitesmoke;
    cursor: pointer;
    margin: 6px;
}

.number-active {
    color: var(--blue-new);
    font-weight: 600;
    font-size: 2.2em;
}

/* Active trans */

.active {
    display: flex;
}

.active__number {
    display: block;
}

/* Phan hien thi khung nho */
html {
    overflow: hidden;
}

#wrap__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/pexels-adrien-olichon-2387793.jpg);
    background-size: cover;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    position: relative;
    animation: 10s zoom forwards;
}

.grid__container-item:nth-child(odd) {
    margin-right: 12px;
    animation: 4s move__img_odd forwards;
}

.grid__container-item:nth-child(even) {
    animation: 4s move__img_even forwards;
}

.item {
    margin: 12px 0;
    width: 132px;
    height: 132px;
    transition: all 0.5s ease-in-out;
}

.item__img {
    min-width: 132px;
    max-width: 132px;
    height: 132px;
    object-fit: cover;
    background-size: cover;
}

.item_screen {
    position: relative;
    z-index: 100;
}

.item_screen:hover {
    z-index: 10;
}

.item__img_screen {
    position: relative;
}

.main__item-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 12px 0 0 12px;
    animation: 6s zoom_background forwards;
}

.item__header-text {
    font-size: 1.2rem;
    color: var(--primary);
}

.wrap__item-des {
    display: flex;
    flex-direction: column;
}

.item-des {
    max-width: 356px;
    font-size: 0.8rem;
    color: var(--primary);
}

@-webkit-keyframes move__img_odd {
    0% {
        transform: translateY(-336px);
    }
    40% {
        transform: translateY(-224px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes move__img_even {
    0% {
        transform: translateY(336px);
    }
    40% {
        transform: translateY(224px);
    }
    100% {
        transform: translateY(-72px);
    }
}

@-webkit-keyframes zoom {
    from {
        scale: 1;
        rotate: 45deg;
    }
    to {
        scale: 4;
        rotate: 0deg;
        transform: translateY(48px);
    }
}

@-webkit-keyframes zoom_screen {
}

/* @-webkit-keyframes random__zoom_item {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }
} */

.item:hover {
    transform: scale(1.5);
}

.item_screen-display {
}

.random__zoom-item {
    animation: 2s random__zoom_item forwards;
}

@-webkit-keyframes zoom_background {
    from {
        scale: 0.4;
    }
    to {
        scale: 1;
        background-color: rgba(161, 161, 161, 0.2);
        backdrop-filter: blur(4px);
    }
}

/* Video */

.video {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    display: none;
}

/* Bo cuc cho img number */

/* Animation cho chuyen background nho  */

@-webkit-keyframes move__right {
    from {
        opacity: 0.4;
        transform: translateX(-256px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
