<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact Student</title>
        <link rel="stylesheet" href="/css/contactstudent.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <img src="/image/im35.jpg" alt="" class="wrap__img" />
        <div id="wrap">
            <div class="wrap__header">
                <a href="/student" class="header__link-back">
                    <i class="fa-solid fa-rotate-left header__link-back--icon"></i>
                    Quay lại
                </a>
            </div>
            <div class="wrap__main">
                <!-- <div class="spinner"></div> -->
                <div class="bm__message-left">
                    <div class="message-item">
                        <div class="message-item--header">
                            <i class="item__icon fa-solid fa-phone"></i>
                            <div class="item__text">Call Us</div>
                        </div>
                        <span class="message-item--des">(+84) 0359417200 / 0356845521</span>
                    </div>
                    <div class="message-item">
                        <div class="message-item--header">
                            <i class="item__icon fa-brands fa-facebook-f"></i>
                            <div class="item__text">Facebook</div>
                        </div>
                        <span class="message-item--des">https://www.facebook/sinhvienptit.com</span>
                    </div>
                    <div class="message-item">
                        <div class="message-item--header">
                            <i class="item__icon fa-solid fa-location-dot"></i>
                            <div class="item__text">Location</div>
                        </div>
                        <span class="message-item--des">26, Man Thiện, Quận 9, TP HCM</span>
                    </div>
                    <div class="message-item">
                        <div class="message-item--header">
                            <i class="item__icon fa-solid fa-check"></i>
                            <div class="item__text">Follow Us</div>
                        </div>
                        <span class="message-item--des">
                            <i class="fa-brands fa-facebook item__icon-des"></i>
                            <i class="fa-brands fa-instagram item__icon-des"></i>
                            <i class="fa-brands fa-linkedin item__icon-des"></i>
                        </span>
                    </div>
                </div>
                <div class="bm__message-right">
                    <div class="bm__message-heder">
                        <span class="bm__message-right--line">Love to hear from you,</span>
                        <span class="bm__message-right--line">Get in touch</span>
                    </div>
                    <div class="bm__message-right--main">
                        <div class="bm__message-aside--left">
                            <label for="" class="message__aside-label">Your name</label>
                            <input type="text" class="message__aside-input" />
                            <label for="" class="message__aside-label">What you are interested</label>
                            <select class="message__aside-input">
                                <option value="" disabled selected hidden>Design & Branding</option>
                                <option value="Option 1">Option 1</option>
                                <option value="Option 2">Option 2</option>
                                <option value="Option 3">Option 3</option>
                            </select>
                            <label for="" class="message__aside-label">Message</label>
                            <input type="text" class="message__aside-input message__aside-input--large" />
                        </div>
                        <div class="bm__message-aside--right">
                            <label for="" class="message__aside-label">Your email</label>
                            <input type="text" class="message__aside-input" />
                            <label for="" class="message__aside-label">Project Budget</label>
                            <select class="message__aside-input">
                                <option value="" disabled selected hidden>Select your budget</option>
                                <option value="Option 1">Option 1</option>
                                <option value="Option 2">Option 2</option>
                                <option value="Option 3">Option 3</option>
                            </select>
                        </div>
                    </div>
                    <button class="bm__message-right--button">Just Send</button>
                </div>
            </div>
        </div>
    </body>
</html>
