<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            li a {
                margin: 0 20px;
            }
        </style>
    </head>
    <body>
        <h1>Hello ejs with admin</h1>
        <ul>
            <li>
                <a href="/roomPrac">phong thuc hanh</a>
                <a href="/roomTN">phong thi nghiem</a>
                <a href="/history">lich su</a>
                <a href="/manage-student">Quan li sinh vien</a>
                <a href="/schedule">Them moi lich hoc</a>
            </li>
        </ul>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manager ADMIN</title>
        <link rel="stylesheet" href="/css/admin.css" />
    </head>
    <body>
        <img src="/img/pexels-pavel-danilyuk-5496464.jpg" class="img" alt="" />
        <div id="wrap__layout">
            <nav class="nav__content">
                <div class="nav__content-left">
                    <div class="logo">
                        <div class="loader">
                            <div class="loader-square"></div>
                            <div class="loader-square"></div>
                            <div class="loader-square"></div>
                            <div class="loader-square"></div>
                            <div class="loader-square"></div>
                            <div class="loader-square"></div>
                            <div class="loader-square"></div>
                        </div>
                    </div>
                    <a href="/admin" class="nav__content-link admin">
                        <span class="nav__content-text">ADMIN</span>
                    </a>
                </div>
                <div class="nav__content-right">
                    <a href="/form-login" class="nav__content-link">
                        <span class="nav__content-text">Login</span>
                    </a>
                </div>
            </nav>
            <main class="main__content">
                <aside class="aside__left">
                    <header class="aside__left-header">
                        <span class="header__text">HI, WE ARE...</span>
                        <span class="header__text">TEAM DEVELOPER 31,</span>
                        <span class="header__text">Topic 11</span>
                    </header>
                    <main class="aside__left-content">
                        <div class="main__text">
                            Lab Management Website is an online platform designed to help manage and organize laboratory
                            activities efficiently. The laboratory management website provides a simple, easy-to-use
                            interface that helps teachers and students interact conveniently and effectively. It helps
                            to increase organization, reduce paperwork, and at the same time ensures a simpler, faster
                            and more efficient laboratory management.
                        </div>
                    </main>
                    <footer class="aside__left-footer">
                        <button class="btn">Read more</button>
                    </footer>
                </aside>
                <aside class="aside__right">
                    <div class="aside__right-header">
                        <span class="header__text">Thực Hiện Quản Lý</span>
                    </div>
                    <div class="aside__right-main">
                        <div class="wrap__left">
                            <div class="item">
                                <a class="item__link" href="/roomPrac">Phòng Thực Hành</a>
                            </div>
                            <div class="item">
                                <a class="item__link" href="/roomLab">Phòng Thí Nghiệm</a>
                            </div>
                            <div class="item">
                                <a class="item__link" href="/history">Lịch Sử</a>
                            </div>
                            <div class="item">
                                <a class="item__link" href="/manage-student">Sinh Viên</a>
                            </div>
                            <div class="item">
                                <a class="item__link" href="/views-add/schedule">Thêm mới lịch học</a>
                            </div>
                        </div>
                        <div class="wrap__right">
                            <div class="wrap__right-item--des">
                                <span class="header__text-item">Thực Hiện Quản Lý</span>
                                <span class="main__text">
                                    Quản lí phòng học là một quá trình phức tạp, bao gồm nhiều hoạt động như đặt lịch,
                                    kiểm tra trang thiết bị và hướng dẫn sử dụng.Người quản lí cần kiểm tra trạng thái
                                    của phòng học trước khi sử dụng và đảm bảo nhóm sử dụng phòng đã được đăng ký và có
                                    quyền sử dụng phòng.
                                </span>
                            </div>
                            <div class="wrap__right-item">
                                <span class="header__text-item">Phòng Thực Hành</span>
                                <span class="main__text">
                                    Phòng thực hành là nơi có thể tạo phòng thực hành cho các sinh viên một cách khoa
                                    học cũng như quản lí các chức năng khác của phòng như xóa chỉnh sửa ,... Với logic
                                    tạo phòng học chặt chẽ đảm bảo cho quá trình quản lí của người quản lí cũng như cho
                                    người sử dụng phòng học.
                                </span>
                            </div>
                            <div class="wrap__right-item">
                                <span class="header__text-item">Phòng Thí Nghiệm</span>
                                <span class="main__text">
                                    Phòng thí nghiệm là nơi có thể tạo phòng thí nghiệm cho các sinh viên một cách khoa
                                    học cũng như quản lí các chức năng khác của phòng như xóa chỉnh sửa ,... Với logic
                                    tạo phòng học chặt chẽ đảm bảo cho quá trình quản lí của người quản lí cũng như cho
                                    người sử dụng phòng học.
                                </span>
                            </div>
                            <div class="wrap__right-item">
                                <span class="header__text-item">Lịch Sử</span>
                                <span class="main__text">
                                    Nơi quản lí lịch sử của các hoạt động của nhà quản lí trên tất cả phương diện thuộc
                                    quyền quản lí của nhà quản lí bao gồm quá trình tạo tài khoản thêm xóa và hầu hết
                                    các quá trình khác trong suốt thời gian thực hiện quản lý.
                                </span>
                            </div>
                            <div class="wrap__right-item">
                                <span class="header__text-item">Sinh Viên</span>
                                <span class="main__text">
                                    Nơi quản lí các quá trình tạo thêm mới xóa tài khoản thuộc sinh viên cũng như của
                                    người quản lí quản lí các trình tạo thêm mới xóa một cách chặt chẽ đảm bảo tính bảo
                                    mật cũng như logic cho quá trình thực hiện,...
                                </span>
                            </div>
                            <div class="wrap__right-item">
                                <span class="header__text-item">Thêm Mới Lịch Học</span>
                                <span class="main__text">
                                    Nơi thực hiện các chức năng tạo lịch học và phản hồi lịch học cho sinh viên quá
                                    trình tạo thêm lịch học cũng như xóa chỉnh sửa lịch học luôn được tối ưu nhằm đơn
                                    giản hóa quá trình tạo cũng như giảm thiểu các khả năng gây rối loạn cho người quản
                                    lý.
                                </span>
                            </div>
                        </div>
                    </div>
                </aside>
            </main>
        </div>
        <script src="/js/admin.js"></script>
    </body>
</html>
