<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <style>
            .w3-bar-item {
                border-right: 1px solid #ccc !important;
            }
            .w3-bar-item.active {
                background-color: #00b158;
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="w3-bar w3-border-bottom w3-light-grey">
            <a href="/roomPrac" class="w3-bar-item w3-button">Phong thuc hanh</a>
            <a href="/roomLab" class="w3-bar-item w3-button">Phong thi nghiem</a>
            <a href="/history" class="w3-bar-item w3-button active">Lich su</a>
            <a href="/manage-student" class="w3-bar-item w3-button">Quan ly sinh vien</a>
            <a href="/schedule" class="w3-bar-item w3-button">Quan li lich hoc</a>
        </div>
        <h1>Lich su</h1>
    </body>
</html>
