<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <div id="wrap">
        <img class="wrap__img active" src="/image/Tím Đơn giản Lớp học Thời khóa biểu.png" alt="">
        <img class="wrap__img" src="/image/tin-tuc.jpg" alt="">
        <img class="wrap__img" src="/image/history-6534506.png" alt="">
        <img class="wrap__img" src="/image/baconcuu-lienhe-scaled.jpg" alt="">
        <nav class="nav__page-student">
            <div class="nav__page-student-left">
                <a href="" class="nav__page-text">Trang sinh viên PTIT</a>
            </div>
            <div class="nav__page-student-right">
                <a href="" class="nav__page-text">Đăng xuất
                    <i class="fa-solid fa-arrow-right-to-bracket nav__page-icon"></i>
                </a>
            </div>
<<<<<<< HEAD

=======
            
>>>>>>> d0afc6284d7a7764b06af30cf48d5bc6f86aca5f
        </nav>
        <div class="wrap__page-student">
            <div class="wrap__page-student--left">
                <main class="content__page-student--left">
                    <div class="content__left">
<<<<<<< HEAD
                        <a class="content__item" href="/booking">
=======
                        <a class="content__item" href="">
>>>>>>> d0afc6284d7a7764b06af30cf48d5bc6f86aca5f
                            <div class="content__item-main">
                                <div class="content__item-icon">
                                    <img class="content__icon active" src="/image/Tím Đơn giản Lớp học Thời khóa biểu.png" alt="">
                                </div>
                                <span class="content__item-text">Đăng ký lịch</span>
                            </div>
                        </a>
                        <a class="content__item" href="">
                            <div class="content__item-main">
                                <div class="content__item-icon">
                                    <img class="content__icon" src="/image/tin-tuc.jpg" alt="">
                                </div>
                                <span class="content__item-text">Tin tức</span>
                            </div>
                        </a>
                    </div>
                    <div class="content__right">
                        <a class="content__item" href="">
                            <div class="content__item-main">
                                <div class="content__item-icon">
                                    <img class="content__icon" src="/image/history-6534506.png" alt="">
                                </div>
                                <span class="content__item-text">Lịch sử đăng ký</span>
                            </div>
                        </à>
                        <a class="content__item" href="">
                            <div class="content__item-main">
                                <div class="content__item-icon">
                                    <img class="content__icon" src="/image/baconcuu-lienhe-scaled.jpg" alt="">
                                </div>
                                <span class="content__item-text">Liên hệ</span>
                            </div>
                        </a>
                    </div>
                </main>
            </div>
            <div class="wrap__page-student--right">
                <main class="content__page-student--right">
                    <div class="content__item-img">
                        <img class="content__item--img active" src="/image/Tím Đơn giản Lớp học Thời khóa biểu.png" alt="">
                        <div class="content__item-main">
                            <span class="content__item-text"></span>
                        </div>
                    </div>
                    <div class="content__item-img">
                        <img class="content__item--img" src="/image/tin-tuc.jpg" alt="">
                        <div class="content__item-main">
                            <span class="content__item-text"></span>
                        </div>
                    </div>
                    <div class="content__item-img">
                        <img class="content__item--img" src="/image/history-6534506.png" alt="">
                        <div class="content__item-main">
                            <span class="content__item-text"></span>
                        </div>
                    </div>
                    <div class="content__item-img">
                        <img class="content__item--img" src="/image/baconcuu-lienhe-scaled.jpg" alt="">
                        <div class="content__item-main">
                            <span class="content__item-text"></span>
                        </div>
                    </div>
                    <nav class="nav__number">
                        <span class="bm-number number-active">01</span>
                        <span class="bm-number">02</span>
                        <span class="bm-number">03</span>
                        <span class="bm-number">04</span>
                    </nav>
                </main>
            </div>
        </div>
    </div>

    <script src="/js/student.js"></script>
</body>
</html>